
<html>
<head>
<style>
h1 {color:red;}
p {color:blue;}
</style>
</head>
<body>


<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/">Welcome</a>
  <form class="form-inline">
    <a class="btn btn-outline-primary" href="/login_form" role="button">
    Login
    </a>
    <div style="padding-left: 10px;">
      <a class="btn btn-outline-success" href="/register" role="button">
      Sign Up
      </a>
    </div>
  </form>
</nav> 


<%# <img src="https://cdn.wedevs.com/uploads/2014/03/Subscriptions.jpg" class="img-fluid" alt="Responsive image"> %>
<div class = "bg" style="https://cdn.wedevs.com/uploads/2014/03/Subscriptions.jpg" >
<img background: src="https://cdn.wedevs.com/uploads/2014/03/Subscriptions.jpg" no-repeat center center fixed;>
</div>

</body>
</html>