<h1>Profile </h1>

<li><%=@current_user.first_name %></li>
<li><%=@current_user.last_name %></li>
<li><%=@current_user.email %></li>


<button type="button">
<%= link_to "Edit your details ", edit_user_path%>
</button>